#sidebar {
    background-color:rgba(8, 16, 85,0.9 );
    height: 40%;
    min-height:100vh;
    min-width: 120px;
    border-radius:0px 200px 200px 0px;
}
#items{
    color:white;
    background-color:rgba(8, 16, 85,1.9 );
    border-radius:0px 200px 200px 0px;
    margin-top: 2px;
    width:80%;
}
#items:hover{
    color:white;
    background-color:rgba(8, 16, 85,0.5 );
    border-radius:0px 200px 200px 0px;
    margin-top: 2px;
    width:80%;
}